

#config-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 200px;
}

h3 {
    margin: 0;
}

.content-tip {
    color:darkgray;
}

input {
    width: 50px;
}

chess-board {
    width: 33%;
}